<div class="dashboard-container">
  <aside class="sidebar">
    <nav class="sidebar-nav">
      <h2>Finantial Solution</h2>
      <ul>
        <li 
          [class.active]="currentView === 'home'"
          (click)="setCurrentView('home')"
        >
          Home
        </li>
        <li
          [class.active]="currentView === 'users'"
          (click)="setCurrentView('users')"
        >
          Users
        </li>
      </ul>
    </nav>
  </aside>
  <main class="main-content">
    @switch (currentView) {
      @case ('home') {
        <app-home></app-home>
      }
      @case ('users') {
        <app-users></app-users>
      }
      @default {
        <h1>Página no encontrada</h1>
      }
    }
  </main>
</div>