<div class="dashboard-container">
  <aside class="sidebar">
    <nav class="sidebar-nav">
      <h2>Panel</h2>
      <ul>
        <li 
          [class.active]="currentView === 'home'"
          (click)="setCurrentView('home')"
        >
          Home
        </li>
        <li
          [class.active]="currentView === 'users'"
          (click)="setCurrentView('users')"
        >
          Users
        </li>
      </ul>
    </nav>
  </aside>
  <main class="main-content">
    @switch (currentView) {
      @case ('home') {
        <h1>Página de Inicio</h1>
        <p>¡Bienvenido a tu panel de control!</p>
      }
      @case ('users') {
        <h1>Gestión de Usuarios</h1>
        <p>Aquí puedes administrar a los usuarios.</p>
      }
      @default {
        <h1>Página no encontrada</h1>
      }
    }
  </main>
</div>