<div class="dashboard-container">
  <aside class="sidebar">
    <nav class="sidebar-nav">
      <h2>Finantial Solution</h2>
      <ul>
        <li 
          [class.active]="currentView === 'home'"
          routerLink="home"
          (click)="setCurrentView('home')"
        >
          Home
        </li>
        <li
          [class.active]="currentView === 'users'"
          routerLink="users"
          (click)="setCurrentView('users')"
        >
          Users
        </li>
      </ul>
    </nav>
  </aside>
</div>