<div class="table-container">
  <table class="dynamic-table">
    <thead>
      <tr>
        @for (column of columns; track column.accessor) {
        <th>{{ column.header }}</th>
        }
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      @for (row of data; track row[trackByKey]) {
      <tr>
        @for (column of columns; track column.accessor) {
        <td>
          {{ row[column.accessor] }}
        </td>
        }
        <td class="actions-cell">
          <button class="action-btn edit">Edit</button>
          <button class="action-btn delete">Delete</button>
        </td>
      </tr>
      } @empty {
      <tr>
        <td [attr.colspan]="columns.length">There are no users created.</td>
      </tr>
      }
    </tbody>
  </table>
</div>